<p id="notice"><%= notice %></p>

<h1>Specials:</h1>

<table>
  <thead>
    <tr>
     <th>Category</th>
    </tr>
  </thead>
  <hr>

  <tbody>
    <% @categorys.each do |category| %>
    <tr>
        <td><%= category.name rescue "No category" %></td>  		  
      </tr>
    <% end %>
  </tbody>
  
</table>
<hr>
<br>


